.notify-modal-wrapper {
  z-index: 1055;
}

/* Base modal styling */
.notify-modal .modal-content {
  border-radius: 1rem;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
  border: none !important;
  overflow: hidden;
  max-height:300px !important;
}

/* Header */
.notify-modal-header {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem 1.25rem;
  box-shadow: #2d3748 0px 1px 3px 0px, #2d3748 0px 1px 2px 0px;
}

.notify-modal-title {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.notify-modal-title .modal-icon {
  font-size: 1.5rem;
}

/* Footer */
.notify-modal-footer {
  display: flex;
  justify-content: flex-end;
  border: none !important;
}

/* Buttons */
.notify-modal-footer .btn {
  min-width: 100px;
  font-weight: 500;
  border-radius: 0.5rem;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

/* Go to cart button  */
.go-to-cart-btn {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border: none;
  transition: all 0.3s ease !important;
}

.go-to-cart-btn:hover {
  transform: translateY(5px) !important;
}

/* Close button */
.notify-modal-close-btn {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border: none;
  transition: all 0.3s ease !important;
}

.notify-modal-close-btn:hover {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important;
  transform: translateY(5px) !important;
}
