.or-h6{
    margin-left: 42% !important;
    margin-top: 20px;
}

.color-picker{
    margin-left: 30% !important;

}

.color-container{
    width: 100% !important;
    padding: 20px;
}

.add-color{
    width: 45% !important;
}
.existing-color{
    width: 45% !important;
    margin-top: 20px;
}