.management-container{
    width: 45% !important;
    margin-left: 0 !important;
}

.add-style-attribute{
    width: 100% !important;
    margin-left : 0 !important;
}

.general-list{
    width: 100% !important;
    margin-top: 20px;
}


